body {
  background-color: #eee;
}
.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.demo-container{
    margin-top: -40px;
    margin-right: 350px;
    margin-bottom: 0px;
    margin-left: 0px;
    float:None
}

.row-input{
    margin-top: 350px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: -webkit-center;
}
.row-input-top{
    margin-top: 10px;
    margin-left:-15px;
    margin-right:-15px;
    text-align: -webkit-center;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}