.row-input{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: -webkit-left;
}
.row-input-top{
    margin-top: 10px;
    margin-left:-15px;
    margin-right:-15px;
    text-align: -webkit-center;
}